$core-blue: #242582;
$secondary-purple: #553D67;
$pink: #F64C72;
$gray: #99738E;
$secondary-blue: #2F2FA2;

// $core-green: #8D8741;
// $core-blue: #659DBD;
// $pink: #DAAD86;
// $brown: #BC986A;
// $yellow: #FBEEC1;